//
//  Flutter.xcconfig
//  FlutterNativeiOSDemo
//
//  Created by lichengwu on 2019/5/9.
//  Copyright © 2019 cwli. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../flutter_module/.ios/Flutter/Generated.xcconfig"
ENABLE_BITCODE=NO

